input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;


}
h1{
    font-weight: 200;
    color: white;
    
    
}
body{
    background-color:rgb(149, 22, 207);
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url(hill.jpg);
    height: 800px;
    width: 400px;
    background-position: center;
    background-size: cover;
}
a{
    color: white ;
}
input{
    text-align: center;
}
div{
    margin-right: 40%;
    text-align: center;
}
.class{
    margin-left: 40%;
}

